---
import BaseLayout from "../layouts/BaseLayout.astro"
import Link from '../components/Link.astro'
---
<BaseLayout title="Home">
<h2>Welcome</h2>
<p>I am a Graduate Research Assistant working under the advisement of <Link href="https://cogan-shimizu.github.io/">Dr. Cogan Shimizu</Link> in the Knowledge and Semantic Technologies Laboratory (KASTLE Lab) at Wright State University (WSU). </p> 
<p>My previous research sought to enhance land utilization for agricultural and renewable energy projects by optimizing the identification of suitable agrarian locations in the state of Ohio using technologies such as KnowWhereGraph and ArcGIS.</p> 
<p>However, my current research now focuses on developing a modular ontology for robotic orchestration, with preliminary work already well underway and can be viewed <Link href="https://github.com/kastle-lab/Autonomous-Robotic-Orchestration-Modular-Ontology">here</Link> in the KASTLE Lab repository.</p> 

</BaseLayout>

